<html>
<head>
    <title>

    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">InsightDash</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ppt">Utlization of Data Visualization (PPT)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/datareport">Data Report</a>
                    </li>
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        Dropdown-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                            <li><hr class="dropdown-divider"></li>-->
<!--                            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

                </ul>

            </div>
        </div>
    </nav>




    <div class="container">
        <div class="mt-4 p-5 bg-warning text-black rounded">
            <h1 align="center">Welcome to InsightDash</h1>
            <h2 align="center">A <strong>OneClick</strong> Dashboard Generation Site</h2>
        </div>

        <br>
        <br>
        <div>
            <font color="red"><strong>*</strong></font> <strong>Note:</strong> Before you upload a file, make sure, the data is clean i.e.,
            <ul class="list-group list-group-numbered">
                <li class="list-group-item">All the <strong><i>unwanted data</i></strong> is removed</li>
                <li class="list-group-item">All the <strong><i>unwanted columns</i></strong> are removed</li>
                <li class="list-group-item">All the <strong><i>null values</i></strong> are addressed as required.</li>
                <li class="list-group-item">All the required <strong><i>data transformations</i></strong> are completed.</li>
                <li class="list-group-item">If there are any date columns, make sure that column name has a word <strong><i>Date</i></strong> in it.</li>
            </ul>
        </div>
        <br>
        <br>
        <div class="form-control" align="center">
            <label><h4>Please upload your data file after all the above mentioned steps are completed only in <strong>Excel format</strong>.</h4></label>
            <form action="/uploader" method="POST" enctype="multipart/form-data">
                <input type="file" class="form-control" id="inputGroupFile04" name="excel_file" accept=".xlsx">
                <br>
                <button class="btn btn-outline-danger" id="inputGroupFileAddon04" type="submit" name = "submit">Upload</button>
            </form>
        </div>



<!--        <form action="/uploader" method="POST" enctype="multipart/form-data" >-->
<!--            <input type="file" name="excel_file">-->
<!--            <button type="submit" class="btn-md-danger" name = "submit">Submit</button>-->

<!--        </form>-->
    </div>

</body>
</html>